@media screen and (max-width: 728px) {
    .bet-page {
        margin: auto;
        margin-top: 200px;
        padding-bottom: 30px;
    }
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 30px;
    }
    .top > h3 {
        color: #82A67D;
        font-family: Exo;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .arr {
        width: 20px;
        height: 20px;
    }
    .hist {
        border: solid 3px red;
    }
    .slip {
        width: 167px;
        height: 45px;
        flex-shrink: 0;
        border-radius: 10px;
        background: white;
        color: #1D3557;
        font-family: Exo;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .place {
        background-color: #82A67D;
        color: white;
        border-radius: 10px;
        gap: 10px;
        padding: 10px;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
    }
    .place1 {
       gap: 40px;
    }
    
}