@import url('https://fonts.cdnfonts.com/css/flower-adaline');
@media screen and (max-width: 728px) {
* {
    background-color: #2c393c;
}
.logo {
    font-size: 25px;
    color: white;
}
.logo > span {
    color: #82A67D;
    font-size: 30px;
    font-weight: 500px;
    font-family: 'Flower Adaline', sans-serif;                                                                                            
}
.welcome {
    color: white;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 600px;
    font-style: oblique;
}
.login {
    color: black;
    font-family: Exo;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #82A67D;
    display: flex;
    width: 335px;
    padding: 10px 59px 10px 64px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}
.create {
    color: white;
    font-family: Exo;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: solid 3px #82A67D;
    display: flex;
    width: 335px;
    padding: 10px 59px 10px 64px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}
.buttons{
    margin-top: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
}